@import "compass/css3";

body {
    overflow: hidden;
    background-color: antiquewhite;
    @include filter-gradient(#ffffff, #f6f6f6, vertical);
    @include background-image(linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%))
}

p {
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
}

a { 
    color: brown;
    text-decoration: none;
}

a:hover {
    color: cadetblue;
    font-weight: bold;
}